body {
    background: linear-gradient(to right, red, yellow);
    width: 100%;
    height: 100%;
    margin: 0;
    
   
}

header {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

h3 {
    font-style: italic;
    text-decoration: underline;
}
#about-me, #content  {
    display: inline-block;
    width: 40%;
    vertical-align: text-top;

}

#about-me {
    padding-left: 10px;
}

#content img {
    width: 400px;
    height: auto;
}

.wrapper {
    padding-left: 10px;
}


#future, #interests {
    padding-left: 10px;
}

figure {

    text-align: center ;
    
} 



figcaption {
    font-size: 1.25em;
    float: none;
    text-align: center;
}

h1  {
    font-family: "Copperplate" ;
}


#personal {
    padding-top: 50px;
}

#interests-header {
    padding-left: 25px;
    
}

#why {
    width: 400px;
    height: auto;


}

#purpose-header {
    padding-top: 40px;
    padding-left: 20px;
}

#pourqoui figure { 
    text-align: right;
    float: left;
}


footer {
    
    padding-left: 20px;
}

#interests-footer {
    padding-top: 25px;
}


div.scroll-container {
    background-color: blue;
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
  }
  
  div.scroll-container img {
    padding: 20px;
    width:   300px;
    height: 200px;
  }